.size {
    height: 125px;
    width: 125px;
    border-radius: 50%;
	-webkit-animation: rotation 10s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
.intro {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}